[Unit]
Description=Run ytmusic-sync every 3 days

[Timer]
OnCalendar=*-*-1/3 04:00:00
RandomizedDelaySec=20min
Persistent=true

[Install]
WantedBy=timers.target
